*.bak
*.csproj.user
*.sln.DotSettings.user
*.suo
*.userprefs
.fake/
.vs/
Sources/**/AssemblyInfo.cs
StyleCop.Cache
TestResults.xml
bin
build/*
log
obj
packages/*
paket-files/
temp/
tools/
Sources/**/Properties/launchSettings.json
